@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container .mapboxgl-canvas-container:nth-child(2) {
  display: none;
}

video {
  position: absolute;

  z-index: 7 !important;
}

/* body {
  height: calc(var(--vh, 1vh) * 100);
} */

.current-marker {
  background-image: url("/disc.svg");
  background-size: cover;
  width: 20px;

  height: 20px;
}

.start-marker {
  background-image: url("/start-marker.svg");
  background-size: cover;
  width: 15px;
  height: 20px;
  padding-bottom: 10px;
  position: relative;
}

.finish-marker {
  background-image: url("/finish-marker.svg");
  background-size: cover;
  width: 15px;
  padding-bottom: 10px;
  height: 20px;
  position: relative;
}

.start-image,
.finish-image {
  background-size: 100px 80px;
  width: 100px;
  height: 80px;
  position: absolute;
}

.carousel-container {
  flex: 1 1 0%;
}

.carousel-item-padding {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 10px; /* 각 아이템 사이의 여백 설정 */
}

.react-multi-carousel-track {
  height: 100%;
}
