@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container .mapboxgl-canvas-container:nth-child(2) {
  display: none;
}

video {
  position: absolute;

  z-index: 7 !important;
}

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.current-marker {
  background-image: url("/disc.svg");
  background-size: cover;
  width: 20px;

  height: 20px;
}

.start-marker {
  background-image: url("/start-marker.svg");
  background-size: cover;
  width: 20px;
  height: 20px;
}
